@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #3a2ff2;
  transition: 0.4s;
  padding: 3px;
}
h1,h2,h3,h4,h5,h6,p,span {
  color: #fff;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(194, 100%, 37%, 0.2);
  }
}

